clusterIssuers:
  letsencrypt-http:
    name: letsencrypt-http
    spec:
      acme:
        email: gscsuela@gmail.com
        server: https://acme-v02.api.letsencrypt.org/directory
        privateKeySecretRef:
          name: letsencrypt-http
        solvers:
          - http01:
              ingress:
                class: nginx
